.footer{
    text-align: center;
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #000;

    padding: 10px;

    margin-top: 10px;
  
    border-radius: 10px;
   
    

}

.body{
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 100px;
    /* margin-top: 100px;
    padding-top: 100px; */
    
}

.header{

    position: relative;
    width: 100%;
    top: 0;
    padding: 10px;
    /* box-shadow: 0px 0px 10px 0px #000;
    border: 1px solid #000; */
    border-radius: 10px;
    margin-bottom: 10px;
}